{% extends 'core/base.html' %}
{% block content %}<h1> Welcome </h1>

    <div class ="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center"> Available cars for Rent </h2>
         
        <div class="grid grid-cols-3 gap-3">
            {%for car in car %}
                <div>
                    <a href="{% url 'item:detail' car.id %}">
                        <div>
                            <img src= "{{ car.image.url }}" class="rounded-t-xl">
                            
                        </div>

                        <div class ="p-6 bg-white rounded-b-xl">
                            <h2 class= "text-2xl">{{ car.make }}</h2>
                            
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class ="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center"> Car Categories </h2>
        

        <div class="grid grid-cols-3 gap-3">
                {% for categories in categories %}
                <a href="#">
                    <div class ="p-6 bg-white rounded-b-xl">
                        <h2 class= "text-2xl">{{ categories.car_type}}</h2>
                        <p class = "text-gray-500"> {{categories.items.count}}</p>
                    </div>
                </a>
                {% endfor %}
                
{% endblock %}
